* {font-family: 'Lexend Deca', sans-serif;}
@media screen AND (max-width:1000px){
  *{font-size:0.9em}
  nav{font-size:1.25em}
  .report.chart img{max-width:60%}
}
a:hover{text-decoration:none}
body{background-color: #efffef}
nav {background-color:#7fbb37}
label {display:block!important}
.menu-item {display:inline-block;list-style-type: none;margin:.2em}
.menu-item a {padding:.4em;color:#fff}
.menu-item a:hover {background-color:#efefef;color:#587e16;text-decoration:none;padding-bottom:.2em;margin-bottom:.1em;border-bottom:.2em solid #cd2537}
#install {background-color:#dfdfdf;position:absolute;width:60%;top:5%;left:20%;margin:0 auto;border:4px solid #7fbb37;padding:.4em}
#installform, #settingsform {width:80%;margin:0 auto; }
#install #logo {width:80%;margin: 0 auto; }
.install.text {width:45%;display:inline-block;padding-bottom:1.1em;vertical-align:top}
.install.text.info {font-size:0.85em}

#login {background-color:#dfdfdf;position:absolute;max-width:30%;top:20%;left:35%;margin:0 auto;border:4px solid #7fbb37;padding:.4em}
#loginform {width:50%;margin:0 auto;}
#login img {max-width:100%}

#content{max-width:90%;margin:0 auto;padding-bottom:4em;}
#content.print{width:100%}
#content.print img{width:20%}
#content ul {margin:.5em 0;padding:0}
.page_header {color:#cd2537;font-size:3.4em;border-bottom:2px solid #cd2537; padding-bottom:0.2em}
li.info {list-style-type:none;border-left:4px solid #77aa88;background-color:#ddffcc;padding:1em; width:80%}
li.error {list-style-type:none;border-left:4px solid #aa7788;background-color:#ffccdd;padding:1em; width:80%}

.operation_btn {color:#ffffff; padding:.4em;background-color:#7fbb37;border-radius:.6em}
.operation_btn select {color:#333333}
.log_navigation{margin:.8em 0}
.navigation_btn {color:#ffffff; padding:.5em;margin:0 .2em;background-color:#548727;border-radius:50%}
.navigation_btn:hover {color:#ffffcc}
.input {margin-bottom:.4em}
#product_log_form input[type=text]{max-width:3.5em;color:#000000}
.log_row {vertical-align:top;background-color: #efefef;padding:.2em}
.input.log {vertical-align:top;display:inline-block;min-width:5%}
.input.log input[type=text] {display:inline-block!important;max-width:2.5em}
.input.log.submit {vertical-align: bottom;}
.datefield{max-width:6em!important}
table.main.chart {width:100%}
table.main.chart td {padding:0.4em}
.statistics {border-collapse: separate;border-spacing:.3em}
.statistics td {background-color:#dadada;padding:.4em;border:.4em;text-align:center;}

.missing{background-color:#ef8888}

#operation_buttons a {margin-right:0.2em}
.dead{background-color:#333333;color:#dddddd;opacity:.7}

#global_lux{width:2.5em;color:#000000}

#print_log,#print_product{width:100%;margin-bottom:.5em}
.box {width:50px;height:30px;padding-right:.5em;border:1px solid #000000;margin-right:.6em}
#print_log td{min-width:6%;padding:.5em .25em}
.printblank{width:6%;text-align:right;font-size:0.6em;vertical-align: bottom;}
.printname{width:30%;}
.printnotes{width:20%;}

#customer_details {display:inline-block;width:20%;vertical-align: top;margin-top:2em;}
#customer_growth_chart {display:inline-block;width:70%;vertical-align: top;margin-top:2em;}
#customer_growth_chart img {width:80%;}

#customer_image {display:inline-block;vertical-align: top;max-width:200px;max-height:200px}
#customer_image img{border-radius:400px;width:100%}

#daily_log th, table.main.chart th {background-color:#548727;padding:.01em;color:#ffffff}

#footer {position:relative;bottom:10px;width:100%;margin:3em auto;text-align:center;padding-top:2em;margin-top:3em;border-top:2px solid #cd2537}

#charts {display:inline-block}
.report.chart{display:none}

.settingsdiv{display: inline-block;width:30%;margin-right:1%;vertical-align:top}

@media only screen and (max-width: 400px) {
  #login{max-width:90%;left:5%}
}
