<!doctype html>
  <html>
    <head>
      <title>{{program_name}} - {{ title_verb }} {{ operation }}</title>
      <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet" />
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
      <script src="{{ url_for('static', filename='scripts/gardentrax.js') }}" /></script>
      <script src="{{ url_for('static', filename='scripts/fontawesome5.js') }}" /></script>
      <style>
      body{background-color: #ffffff}
      </style>
    </head>
    <body>
        <div id="content" class="print">
            <img src="{{ url_for('static',filename='images/logo.png') }}"/>
