{% include 'header.html' %}
<h2 class="page_header"><i class="fas fa-{{icon}}" style="margin-right:.2em"></i>{{ operation }}</h2>
<div id="operation_buttons"><a href="{{ url_for(add_operation_url) }}" class="operation_btn"><i class="fas fa-plus-circle" style="margin-right:.2em"></i>Add {{ operation }}</a></div>
<p>
	{% with messages = get_flashed_messages(with_categories=true) %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li class="{{message[0]}}"><i class="fas fa-{{icon}}"></i> {{ message[1] }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<strong>Total {{ operation }}: {{total_count}}</strong>
{% if operation == 'Customers' %}
<script>
$(document).ready(function(){
	iconi = '<i class="fas fa-skull-crossbones" style="margin-right:.2em"></i>'
 $("#operation_buttons").append('<a href="#" id="hide_dead" class="operation_btn">'+iconi+'Hide Dead</a>')
	$("#hide_dead").click(function(){
		$(".dead").toggle()
		if($(this).text() == "Hide Dead"){
			$(this).html(iconi+"Show Dead")
		}else{
			$(this).html(iconi+"Hide Dead")
		}

	})
 })
</script>
{% if stagecount !='' %}
<p><strong>Total {{operation}} by stage:  </strong>
{% for stage in stagecount %}
<span style="margin-right:.2em">{{stage.name}}: {{stage.count}}</span>
{% endfor %}
</p>
{% endif %}
{% endif %}

{{ table }}


{% include 'footer.html' %}
